.apps
	h3 OTRZYMASZ NIEOGRANICZONY DOSTĘP DO SERWISU PRODUKTÓW MOBILNYCH
	.container
		.row
			.col
				a(href="#")
					img(src="img/apps/app-01.png")
			.col
				a(href="#")
					img(src="img/apps/app-02.png")
			.col
				a(href="#")
					img(src="img/apps/app-03.png")
			.col
				a(href="#")
					img(src="img/apps/app-04.png")
			.col
				a(href="#")
					img(src="img/apps/app-05.png")
			.col
				a(href="#")
					img(src="img/apps/app-06.png")
			.col
				a(href="#")
					img(src="img/apps/app-07.png")
			.col
				a(href="#")
					img(src="img/apps/app-08.png")
			.col
				a(href="#")
					img(src="img/apps/app-09.png")
			.col
				a(href="#")
					img(src="img/apps/app-10.png")
			.col
				a(href="#")
					img(src="img/apps/app-11.png")
			.col
				a(href="#")
					img(src="img/apps/app-12.png")