.features
	h3 Konstrukcja i wyświetlacz
	.container
		.row
			.col
				.item
					.circle
						img(src="img/ico-face.png", srcset="img/ico-face@2x.png 2x, img/ico-face@3x.png 3x")
					b Face ID
			.col
				.item
					.circle
						img(src="img/ico-retina.png", srcset="img/ico-retina@2x.png 2x, img/ico-retina@3x.png 3x")
					b Retina display
		.row
			.col
				.item
					.circle
						img(src="img/ico-battery.png", srcset="img/ico-battery@2x.png 2x, img/ico-battery@3x.png 3x")
					b ładowanie bezprzewodowe
			.col
				.item
					.circle
						img(src="img/ico-cpu.png", srcset="img/ico-cpu@2x.png 2x, img/ico-cpu@3x.png 3x")
					b A11 Bionic procesor
	a.btn.btn-primary(href="") WYGRAJ!