.links
	ul
		li
			a(href="#") Regulamin
		li
			a(href="#") Obsługiwane telefony
		li
			a(href="#") Polityka prywatności
		li
			a(href="#") Konkursy
.prizehub
	a(href="#")
		img(src="img/logo-prizehub.png", srcset="img/logo-prizehub@2x.png 2x, img/logo-prizehub@3x.png 3x")