.secure
	img(src="img/ico-norton.png", srcset="img/ico-norton@2x.png 2x, img/ico-norton@3x.png 3x")
	img(src="img/ico-secure.png", srcset="img/ico-secure@2x.png 2x, img/ico-secure@3x.png 3x")
	img(src="img/ico-safe.png", srcset="img/ico-safe@2x.png 2x, img/ico-safe@3x.png 3x")