*{
	margin:0;
	padding:0;
	font-family:arial;
    color: white;
}

html {
    background-color: #40669a;
}

#main {
    margin:0 auto;    
}

a{
	text-decoration:none;
	font-size:14px;
}
.lp > div{
	width:600px;
	margin:0 auto;
}
.aligncenter{
	margin:0 auto;
	display:block;
    margin-top:5%;
    width:40%;
}

.text-wrap {
    margin:0 auto;
    padding-top:10%;
    text-align: center;
    width:100%;
}

#tell-us {
	padding: 20px 0px;
    font-size: 20px; 
    width:100%;
}

#prize {
    font-family: 'Abadi MT Condensed Extra Bold', sans-serif;
    font-size: 36px;
}

#the-best {
    font-size: 20px;
}

#enter {
    font-size: 12px;
    text-align: center;
    padding: 5px;
}

#usrform {
    text-align: center;
    font-size: 12px;
    color: black;
    padding:10px 0 15px 0;
}

textarea {
    font-size: 22px;
    color: black;
}

input[type=text]{
	border:solid 1px #000;
	background:#fff;
	border-radius:14px;
	margin:0 auto;
	height:40px;
	display:block;
	width:90%;
	margin-bottom:21px;
	font-size:16px;
	text-align:center;
}

input[type=submit]{
	color:white;
	padding:20px;
	text-transform:uppercase;
	font-size:40px;
	width:60%;
	display:block;
	margin:0 auto;
	border:none;
    background-color: #54b554;
    margin-top:20px;
}

@media screen and (max-width: 3200px){
	.lp > div {
		padding-top: 0px;
		width:490px;
	}
	.toptxt{
		font-size:14px;
	}
}
@media screen and (max-width: 600px){
	.lp > div {
		width:100%;
	}
	.foot-menu {
		border-top: none
	}
	#footer .foot-menu ul li {
		width: 100%;
	}
}



span.big{
	font-size:17px;
	padding:14px 0px;
	text-align:center;
	display:block;
}

#footer{
	text-align:center;
    margin-top:15%;
}
.foot-menu{
	border-top: 1px solid #ccc;
	clear:both;
    
}
#footer .foot-menu ul li:hover{
	background: #517ebd;
}
.foot-menu ul{
	list-style:none;
	display:block;
	margin:0 auto;
	float:left;
	width:100%;
	margin-bottom:21px;
}
.foot-menu li a{
	color:white;
}

.foot-menu li a{
	color:white; 
}

.foot-menu ul li{
	width:33%;
	float:left;
	padding:21px 0px;
	color:#0179AD;
}
.foot-menu ul li:hover{
	background:#0179AD;
	color:#fff;
}
@media screen and (max-width: 600px){
	.lp > div {
		width:95%;
	}
    
    #prize {
    font-size: 36px;
}
    
    #the-best {
    font-size: 20px;
}

    #enter {
    font-size: 12px;
}
	input[type=submit]{
		font-size:21px;
	}
}