*{
	margin:0;
	padding:0;
	font-family:times, sans-serif;
	font-size: 11.5px;
	color: #000;
}

body{
	padding-top:1px;
}

a{
	text-decoration:none;
}

.lp {
	width:600px;
	margin:0 auto;
	background-color: #fff;
	text-align: center;
}

#topline {
	width:100%;
	text-align:center;
	padding:5px 0;
	font-family:times;
	background-color:#466070;
	color: #fff;
	margin-top: -1px;
}

#apps-section > div {
	max-width: 70%;
	margin: -1px auto;
}

#apps-section > div:before,
#apps-section > div:after {
    content: "";
    display: table;
    clear: both;
    padding-top: 10px;
}

#apps-section .app-block {
	margin: 0;
	float: left;
	width: 20%;
	text-align: center;
}

#apps-section .app-block img {
	width: 80%;
}

#tel-input {
	font-family: arial;
	font-size: 16px;
	height: 30px;
}

#tel-div {
	width: 90%;
	margin: 0 auto;
	margin-top: 5px;
	border-radius:10px;
	background-color: white;
	overflow:hidden; 
	height:100%;
	position: relative;
	background-color: #fff;
}

#tel-div > div {
	left: 60%;
	right: 8px;
	top: 8px;
	bottom: 8px;
	position: absolute;
	background: transparent;
}

input[type=image]{
	height: 100%;
	border: none;
    float: right;
    box-sizing: border-box;
}

#click-here {
	display: inline-block;
	text-align: center;
	margin-top: 10px;
	margin-bottom: 10px;
	width: 100%;
}

#click-here input[type=image] {
	display: block;
	position: relative;
	width: 70%;
	margin: 0 auto;
	float: none;
}

input[type=tel]{
	float: left;
	border: none;
	font-size: 16px;
	padding: 12px 10px;
	padding-left: 18%;
 	text-align: left;
	background: transparent url("images/arrow.gif") no-repeat;
	background-position: 10%;
	background-size: 20px;
}

.keyword-container {
	text-align:center; 
	margin: 5px 0;
	padding: 10px 25px;
	border-radius: 10px;
	background-color: #404e56;
	display: inline-block;
}

.keyword-text {
	color: #fff;
	font-family: arial;
	font-size: 22px;
}

.aligncenter{
	margin:0 auto;
	display:block;
}

#footer{
	text-align:center;
	width: 100%;
}

.foot-menu{
	clear:both;
	width:100%;
}

.foot-menu ul{
	list-style: none;
	margin: 0;
	width: 100%;
}

.foot-menu ul li,
.foot-menu ul li:visited {
	padding: 0;
	background-color: #466070;
	width: 100%;
	margin-top: -1px;
}

.foot-menu ul li a {
	color: #fff;
	font-family: arial;
	font-weight: bold;
	text-transform: uppercase;
	margin: 0px; 
	display: block; 
	width: 100%; 
	height: 100%; 
	padding: 15px 0;
	text-align: center;
	font-size: 14px;
}

.foot-menu ul li:hover,
.foot-menu ul li:active {
	background-color: #e07a5f;
}

#mainLL a,
#mainLL a:visited {
	color: #466070;
}


#mainLL a:hover,
#mainLL a:active {
	color: #e07a5f;
}

textarea:focus, input:focus{
    outline: none;
}

#logo {
	width: 60%;
	padding: 10px 0 10px 0;
}

@media screen and (max-width: 600px){
	.lp {
		width:100%;
	}
}

@media screen and (min-width: 800px){
	.lp {
		width:320px;
	}
}
