@import 'nib'
@import 'fonts'

color-gray = #c6c6c6
color-white = #fff
color-black = #000
color-text = #171616
color-dark = #4a4a4a
color-light = #f4f4f4

html
	font-size 62%
	
@media (max-width: 640px)
	body
		font-size 1.2rem

@media (min-width: 640px)
	body
		font-size 1rem

@media (min-width:960px)
	body
		font-size 1.2rem

@media (min-width:1100px)
	body
		font-size 1.5rem

body
	background #333
	
.body
	width 360px
	margin auto
	font-family 'SF UI Display'
	font-size 1.6rem
	background color-white
	color color-text
	
h1
	font-size 3.2rem
	line-height 34px
	letter-spacing 0.4px
h2
	font-size 1.6rem
	line-height 22px
	letter-spacing 0.2px
	
h3
	font-weight 600
	font-size 1.9rem
	line-height 23px
	
h1, h2
	font-weight 900
	
a.btn
	font-size 1.9rem
	line-height 20px
	text-transform uppercase
	padding 16px 22px
	font-weight bold
	border-radius 4px
	border 0
	color #fff
	
a.btn.btn-danger
	background linear-gradient(20deg, #e63067, #ec815f)
	
a.btn.btn-primary
	background linear-gradient(221deg, #2d61eb, #7808f6)
	
.page1
	.header
		background url("../img/img-header-x.png") 107px 0px no-repeat
		padding-left 31px
		padding-right 19px
		padding-top 30px
		height 171px
	.logo
		margin-top -70px
		padding 0 5px
		// width 100%
		
.page2
	.header
		background url("../img/img-x.png") right top no-repeat
		height 283px
		padding-top 50px
		padding-left 40px
		h1
			letter-spacing 1.1px
	.logo
		margin-top -215px
		padding-left 15px 
		
.help
	text-align center
	.help-text
		padding-top 20px
		padding-bottom 15px
		font-size 1.9rem
		line-height 23px
		letter-spacing 0.7px
		font-weight 400 
		
	
.slog
	text-align center
	padding 5px
	color color-dark
	letter-spacing 0.2px
	
.vote
	border 1px solid color-gray
	padding 15px
	margin 0 15px
	text-align center
	color #111
	.btn
		margin-top 5px
		width 130px
		
.secure
	text-align center
	margin 1px
	img
		margin 0 20px
		
.text
	font-size 1.4rem
	line-height 16px
	text-align justify
	letter-spacing 0.2px
	color color-black
	font-weight 100
	padding 15px
	
.impress
	padding 15px
	h3
		font-size 3.6rem
		line-height 52px
		letter-spacing 0.5px
		
.features
	background color-light
	text-align center
	clear both
	margin-top 50px
	padding 22px
	h3
		font-size 2.6rem
		line-height 52px
		letter-spacing 0.4px
		font-weight 600
	.container
		padding 0
	.item
		.circle
			margin auto
			background url("../img/img-circle.png") no-repeat
			width 130px
			line-height 95px
			padding-top 5px
			padding-bottom 40px
			vertical-align middle
		b
			font-weight 600
			font-size 1.8rem
			line-height 23px
			letter-spacing 0.3px
			margin-top -30px
			position relative
			display block
			margin-bottom 20px
			
.apps
	text-align center
	padding 30px 15px
	margin 30px 15px
	border 1px solid color-gray
	border-radius 10px
	h3
		font-weight 600
		font-size 1.9rem
		line-height 24px
		letter-spacing 0.7px
	.col
		padding 10px
		
.links
	text-align center
	li, ul
		list-style none
		padding 0
		margin 0
	li
		margin-bottom 10px
	a
		text-decoration underline
		color color-black
		
.prizehub
	text-align center
	width 100% 
	padding-top 15px
	padding-bottom 50px
	
@import 'responsive'