@font-face
	font-family 'SF UI Display'
	src url('../fonts/subset-SFUIDisplay-Light.eot')
	src url('../fonts/subset-SFUIDisplay-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/subset-SFUIDisplay-Light.woff2') format('woff2'),
        url('../fonts/subset-SFUIDisplay-Light.woff') format('woff')
	font-weight 100
	font-style normal

@font-face
	font-family 'SF UI Display'
	src url('../fonts/subset-SFUIDisplay-Medium.eot')
	src url('../fonts/subset-SFUIDisplay-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/subset-SFUIDisplay-Medium.woff2') format('woff2'),
        url('../fonts/subset-SFUIDisplay-Medium.woff') format('woff')
	font-weight 400
	font-style normal

@font-face
	font-family 'SF UI Display'
	src url('../fonts/subset-SFUIDisplay-Black.eot')
	src url('../fonts/subset-SFUIDisplay-Black.eot?#iefix') format('embedded-opentype'),
        url('../fonts/subset-SFUIDisplay-Black.woff2') format('woff2'),
        url('../fonts/subset-SFUIDisplay-Black.woff') format('woff')
	font-weight 900
	font-style normal

@font-face
	font-family 'SF UI Display'
	src url('../fonts/subset-SFUIDisplay-Bold.eot')
	src url('../fonts/subset-SFUIDisplay-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/subset-SFUIDisplay-Bold.woff2') format('woff2'),
        url('../fonts/subset-SFUIDisplay-Bold.woff') format('woff')
	font-weight bold
	font-style normal

@font-face
	font-family 'SF UI Display'
	src url('../fonts/subset-SFUIDisplay-Semibold.eot')
	src url('../fonts/subset-SFUIDisplay-Semibold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/subset-SFUIDisplay-Semibold.woff2') format('woff2'),
        url('../fonts/subset-SFUIDisplay-Semibold.woff') format('woff')
	font-weight 600
	font-style normal