@media (width: 360px)
	// .page1
	// 	.header
	// 		background-image url("../img/img-header-x@3x.png") !important
	// 		background-size 192px 171px
	.features .item .circle
		margin auto
		background url("../img/img-circle@3x.png") no-repeat
		background-size 130px 130px