
<div class="features">
	<h3>Konstrukcja i wyświetlacz</h3>
	<div class="container">
		<div class="row">
			<div class="col">
				<div class="item">
					<div class="circle"><img src="img/ico-face.png" srcset="img/ico-face@2x.png 2x, img/ico-face@3x.png 3x"/></div><b>Face ID</b>
				</div>
			</div>
			<div class="col">
				<div class="item">
					<div class="circle"><img src="img/ico-retina.png" srcset="img/ico-retina@2x.png 2x, img/ico-retina@3x.png 3x"/></div><b>Retina display</b>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<div class="item">
					<div class="circle"><img src="img/ico-battery.png" srcset="img/ico-battery@2x.png 2x, img/ico-battery@3x.png 3x"/></div><b>ładowanie bezprzewodowe</b>
				</div>
			</div>
			<div class="col">
				<div class="item">
					<div class="circle"><img src="img/ico-cpu.png" srcset="img/ico-cpu@2x.png 2x, img/ico-cpu@3x.png 3x"/></div><b>A11 Bionic procesor</b>
				</div>
			</div>
		</div>
	</div><a href="" class="btn btn-primary">WYGRAJ!</a>
</div>