
<div class="links">
	<ul>
		<li><a href="#">Regulamin</a></li>
		<li><a href="#">Obsługiwane telefony</a></li>
		<li><a href="#">Polityka prywatności</a></li>
		<li><a href="#">Konkursy</a></li>
	</ul>
</div>
<div class="prizehub"><a href="#"><img src="img/logo-prizehub.png" srcset="img/logo-prizehub@2x.png 2x, img/logo-prizehub@3x.png 3x"/></a></div>