doctype
html(lang='en')
	head
		title iPhone X lite version (PO)
		include inc/meta
		include inc/css
	body
		.body
			.page1
				.header
					h2.float-right Oto<br>twoja<br>szansa!
					h1 Wygraj<br>iPhone
				img.logo(src="img/img-header.png", srcset="img/img-header@2x.png 2x, img/img-header@3x.png 360w")
				.slog Aby wygrać odpowiedz na pytanie:
				.vote
					h3 Kto jest współzałożycielem firmy Apple?
					a.btn.btn-danger.float-left(href="#") Steve<br>Jobs
					a.btn.btn-primary.float-right(href="#") Bill<br>Gates
					.clearfix
			include inc/secure
			include inc/text
			include inc/impress
			include inc/features
			include inc/apps
			include inc/footer
		include inc/js